.mat-card {
  margin: 5px;
  padding: 5px;
  height: 40px;
  width: 600px;
}

.mat-button {
  font-weight: inherit;
  font-size: inherit;
  white-space: pre-wrap;
}

.selected {
  background-color: #212121;
}
