<mat-card-actions>
  <button mat-icon-button aria-label="back">
    <i class="material-icons">skip_previous</i>
  </button>
  <button mat-icon-button aria-label="stop" (click)="stop()">
    <i class="material-icons">stop</i>
  </button>
  <button mat-icon-button aria-label="play" (click)="play()">
    <i class="material-icons">play_arrow</i>
  </button>
  <button mat-icon-button aria-label="pause" (click)="pause()">
    <i class="material-icons">pause</i>
  </button>
  <button mat-icon-button aria-label="forward">
    <i class="material-icons">skip_next</i>
  </button>
</mat-card-actions>
